<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Вход</title>
      <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    </head>
    <body>

      <div class="container">
        <div class="row">
          <div id="card" class="card-panel col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl6 offset-xl3">
            <h3 class="center-align">Вход</h3>
            <form method="post" action="{% url 'login' %}">
              <div class="row">
                {% csrf_token %}
                <div class="input-field col s10 offset-s1">
                  <i class="material-icons prefix green-text">account_circle</i>
                  <input type="text" name="username" autofocus required id="id_username">
                  <label for="login" class="grey-text">Логин</label>
                </div>
                <div class="input-field col s10 offset-s1">
                  <i style="" class="material-icons prefix green-text">lock</i>
                  <input type="password" name="password" required id="id_password" >
                  <label for="password" class="grey-text">Пароль</label>
                </div>
                <div class=" row col s6">
                  <button type="submit" value="login" class="green waves-effect waves-light btn col s8 offset-s2" value="{{ next }}">Войти</button>
                </div>
                <div class="row col s6">
                  <a href="/signin" class="green waves-effect waves-light btn col s8 offset-s2">Регистрация</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
