<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/signin.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Регистрация</title>
    </head>
    <body>
    <div class="container">
      <div class="row">
        <div id="card" class="card col s10 offset-s1 m8 offset-m2 l6 offset-l3 xl6 offset-xl3">

          <!-- Регистрация -->
          <div class="row">
            <h3 class="center-align">Регистрация</h3>
          </div>

          <div class="row">
            <form method="post" action="{% url 'signin' %}">
                {% csrf_token %}
                {% if for.errors %}
                <p>Error</p>
                {% endif %}

              <!-- Логин -->
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">account_circle</i>
                <input type="text" name="username" maxlength="150" autofocus required id="id_username">
                <label for="login" class="grey-text">Логин</label>
              </div>

              <!-- Почта -->
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">contact_mail</i>
                  <input type="email" name="email" required id="id_email">
                <label for="email" class="grey-text">Почта</label>
              </div>

              <div class="input-field col s10 offset-s1">
              <i class="material-icons prefix green-text">contact_mail</i>
              <input type="text" name="first_name" maxlength="100" required id="id_first_name">
              <label for="first_name" class="grey-text">Имя</label>
              </div>

              <div class="input-field col s10 offset-s1">
                <input type="text" name="last_name" maxlength="100" required id="id_last_name">
                <label for="last_name" class="grey-text">Фамилия</label>
              </div>
              <!-- Пароль -->
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">lock</i>
              <input type="password" name="password1" required id="id_password1" placeholder="Пароль">
                <label for="password" class="grey-text">Пароль</label>
                <div class="helper-text" data-error="Минимум строчная, прописная буква, цифра. Длина: 8-16."></div>
              </div>
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">lock</i>
            <input type="password" name="password2" required id="id_password2">
                <label for="password" class="grey-text">Пароль</label>
                <div class="helper-text" data-error="Минимум строчная, прописная буква, цифра. Длина: 8-16."></div>
              </div>

              <!-- Зарегистрироваться -->
              <div class="row">
                <div class=" row col1 s6">
                  <button type="submit" class="green waves-effect waves-light btn col s8 offset-s2">Зарегистрироваться</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
