{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}"></link>
<footer class="page-footer blue-grey darken-3 unselectable">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5><span>BookSharing by </span><a class="green-text" href="/about">Infinity Team</a></h5>
              <p class="grey-text text-lighten-4">Вопросы и предложения сюда: lutlut999@outlook.com</p>
            </div>
          </div>
        </div>
</footer>