@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
  font-family: Roboto;
}

::-webkit-scrollbar
{
  display: none;
}

.dropdown-trigger.btn.blue-grey.darken-3.waves-effect.waves-light.z-depth-0
{
  width: 10vw;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
