@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
  font-family: Roboto;
}

.container.main-container
{
  margin-top: 5vh;
}

::-webkit-scrollbar
{
  display: none;
}

button[type=submit]
{
  border-radius: 20px;
}

.modal
{
  border-radius: 20px;
  max-width: 60vh;  /*  Визуально modal не будет вытянутым вширь, т.к. его длина не сильно превышает высоту экрана  */
}

.card
{
  border-radius: 15px;
}

.card-image
{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.btn
{
  border-radius: 20px;
}

input:focus
{
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0 #4caf50 !important;
}
