@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
  font-family: Roboto;
}

.btn
{
  border-radius: 20px;
}

#card
{
  margin-top: 25vh;
  border-radius: 15px;
}

input:focus
{
  border-bottom: 1px solid #4caf50 !important;
  box-shadow: 0 1px 0 0 #4caf50 !important;
}
