@import url('https://fonts.googleapis.com/css?family=Roboto');

html
{
  font-family: Roboto;
}


.btn
{
  border-radius: 20px;
}

#card
{
  margin-top: 25vh;
  border-radius: 20px;
}

/* Не нравиться <h2> ?!
Но нет!
Перепишу ка я font-size!
Мне ж тяжело использовать готовый <h3>!
Сергей Дж.  */
