<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BookSharing</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
	{% include 'includes/header.html' %}
	<main>
	<div class="container main-container">
	<div class="row">
	{% for i in book %}

			<div class="col m4 l3">
				<div class="card medium">
					<div class="card-image waves-effect waves-block waves-light">
						{% if i.image.url != Null %}
						<img class="activator" src="{{i.image.url}}">
						{% else %}
						<img class="activator" src="{% static 'images/no-photo.png' %}">
						{% endif %}
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{ i.book }}<i class="material-icons right">more_vert</i></span>
						<p>{{ i.dis }}</p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Описание<i class="material-icons right">close</i></span>
						<p>{{ i.cont }}</p>
					</div>
				</div>
			</div>
	{% endfor %}
	</div>
	</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{% static 'js/common.js' %}"></script>
</body>

</html>
