<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/index.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>BookSharing</title>
	</head>
	<body>
		{% include 'includes/header.html' %}
		

	<div class="container">
		<div class="row">



			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-l1">
				<div class="card horizontal">
					<div class="card-image"><img src="//cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg" alt=""></div>
					<div class="card-stacked">
						<div class="card-content">
							<span class="card-title">Загадки Цивилизаций</span>
							<p>Игорь Прокопенко</p>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>







<!-- //cdn.eksmo.ru/v2/ITD000000000834844/COVER/cover1__w600.jpg -->






		
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="{% static 'js/common.js' %}"></script>
	</body>
</html>
