<!DOCTYPE html>
  <html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/signin.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
    <div class="container">
      <div class="row">
        <div id="card" class="card col s11 offset-s3">
          <div class="row">
            <h2 class="center-align">Регистрация</h2>
          </div>
          <div class="row">
            <form>
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">account_circle</i>
                <input id="login" type="text">
                <label for="login" class="grey-text">Логин</label>
              </div>
              <div class="input-field col s10 offset-s1">
                <i class="material-icons prefix green-text">email</i>
                <input id="email" type="email">
                <label for="email" class="grey-text">Почта</label>
              </div>
              <div class="input-field col s10 offset-s1">
                <i style="" class="material-icons prefix green-text">lock</i>
                <input id="password" type="password">
                <label for="password" class="grey-text">Пароль</label>
              </div>
              <div class="input-field col s10 offset-s1">
                <i style="" class="material-icons prefix green-text">repeat</i>
                <input id="passwordag" type="password">
                <label for="passwordag" class="grey-text">Повторите пароль</label>
              </div>
              <div class="row">
            <div class=" row col1 s6">
              <button type="submit" class="green waves-effect waves-light btn col s8 offset-s2">Зарегестрироваться</button>
            </div>
          </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
